include /partials/variables.pug
style.
    .nav-link,
    .navbar-brand,
    .dropdown-item {
    color: white;
    font-size: 2.7vh;
    }
    
    .nav-link:focus,
    .nav-link:hover,
    .navbar-brand:hover {
    color: #{color};
    text-decoration: underline; 
    }

    .navbar-nav:hover .nav-item.dropdown:hover .dropdown-menu {
    display: block;
    }

    .dropdown-item:hover {
    background-color: #{color};
    color: white;
    }

    .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='1' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }

    .mobile-link: active {
      color: #{color};
    }

    

nav.navbar.navbar-expand-lg.fixed-top(style=`background-color: black; border-bottom: 2px solid ${color};`)


  a.navbar-brand(style='padding-left: 2vh;' href='/') ikgron
  
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon(style="color: white")
  #navbarNav.collapse.navbar-collapse
    ul.navbar-nav(style='margin-left: auto;')
      li.nav-item
        a.nav-link(style='padding-left: 2vh;' href='/work') Work
      li.nav-item
        a.nav-link(style='padding-left: 2vh;' href='/info') Info
      li.nav-item.dropdown(style='position: relative')

        a#navbarDropdown.nav-link.dropdown-toggle(style='padding-left: 2vh; padding-right: 2vh;' href='#' role='button'

        data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') More
        .dropdown-menu.dropdown-menu-end(style='right: 0; background-color: black;' aria-labelledby='navbarDropdown')
          a.dropdown-item(style='padding-left: 2vh;' href='/car') Car
          //- .dropdown-divider
