include variables.pug

style.
    body {
        background: black;
        font-family: 'aldrich', monospace;
    }
    
    html {
        ::-webkit-scrollbar {
            display: none; /* Chrome, Safari */
        }
        -ms-overflow-style: none; /* IE, Edge */
        scrollbar-width: none; /* Firefox */
    }

    .placeholder1::placeholder {
        color: #999;
      }

    #sortMethod,
    .btn.bttn,
    .btn-clickable {
        background-color: black;
        color: #{color}; 
        border: 2px solid #{color};
        border-radius: 5px;
        margin: 1vh;
        height: 3rem;
        text-align: center;
        vertical-align: top;
        box-sizing: border-box;
    }

    #sortMethod {
        font-size: #{sfont};
        box-sizing: border-box;
    }

    @media (hover: hover) and (pointer: fine) {
        .btn.bttn:hover,
        #sortMethod:hover {
            transform-origin: center;
            color: #{color};
            border: 2px solid white;
        }
    }

    button {
        background-color : lightgray;
        border: 2px outset grey;
    }

    #copyButton {
        margin-bottom: 5vh;
    }

    textarea.form-control,
    textarea.form-control:focus {
        background-color: black;
        color: white;
        height: 25vh;
        border: 1px solid white;
        resize: none;
        cursor: default;
        font-size: #{sfont};
        padding: 0.5vh;
        margin-top: 1vh;
    }

    textarea.form-control[readonly] {
        cursor: default;
    }
    
    /* Navbar */
    .nav-link,
    .navbar-brand,
    .dropdown-item {
        color: white;
    }
    .nav-link:focus,
    .nav-link:hover,
    .navbar-brand:hover {
        color: #{color};
        text-decoration: underline; 
    }
    .navbar-nav:hover .nav-item.dropdown:hover .dropdown-menu {
        display: block;
    }
    .dropdown-item:hover {
        background-color: #{color};
        color: white;
    }
    .navbar-toggler-icon {
        background-image: url(`data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='1' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e`);
        -webkit-filter: brightness(400);
        filter: brightness(400);
    }
    nav {
        background-color: black;
        border-bottom: 2px solid #{color};
    }
    a.nav-link {
        padding-left: 1.5vh;
        font-size: #{lfont};
    }
    button.navbar-toggler {
        color: white;
    }
    ul.navbar-nav {
        margin-left: auto;
    }
    .nav-item a.nav-link {
        padding-left: 2vh;
        font-size: #{lfont};
    }
    .dropdown-menu {
        right: 0;
        background-color: black;
    }
    .dropdown-item {
        padding-left: 2vh;
        font-size: #{lfont};
    }

    /* Scripts */
    footer.footer {
        background-color: black;
        display: none;
    }
    footer.footer div {
        border: 1px solid white;
        border-radius: 5px;
        padding: 1vh;
        display: inline-block;
    }
    footer.footer h1.text-light {
        font-size: #{sfont};
        vertical-align: middle;
        display: inline;
    }
    footer.footer button.bttn.btn-sm {
        margin-left: 1vh;
        height: calc(#{sfont} + 0.5vh);
        vertical-align: middle;
        padding: 0 #{sfont}; 
        line-height: #{sfont};
        color: black;
    }

    /* List Sorter */




    

    