include variables.pug

style.
    /* Global */
    @font-face {
        font-family: 'Aldrich Regular';
        src: url('/res/fonts/Aldrich-Regular.ttf');
    }

    body {
        background-color: black;
        font-family: 'Aldrich Regular', monospace;
    }

    h1, h2, p {
        color: white;
    }

    h1 {
        font-size: #{lfont};
    }

    h1.title {
        font-size: #{lfont};
        margin-top: 7rem;
    }

    h2,
    a {
        font-size: #{sfont};
    }

    h2.link,
    a {
        text-decoration: underline; 
        color: #{color};
    }

    hr {
        border-bottom: 2px solid #{color};
        margin-top: 11rem;
        opacity: 1;
    }

    html {
        ::-webkit-scrollbar {
            display: none; /* Chrome, Safari */
        }
        -ms-overflow-style: none; /* IE, Edge */
        scrollbar-width: none; /* Firefox */
    }

    button {
        background-color: lightgray;
        border: 2px outset grey;
    }

    .email {
        text-decoration: underline; 
        color: #{color};
    }
    

    /* Contact */
    .icon {
        margin: 2rem;
        filter: invert(1);
        height: 50px;
        width: 50px;
        user-select: none;
        -webkit-user-select: none;
    }

    /* List Sorter */
    textarea.form-control,
    textarea.form-control:focus {
        background-color: black;
        color: white;
        height: 16rem;
        border: 1px solid white;
        resize: none;
        cursor: default;
        font-size: #{sfont};
        padding: 0.5rem;
        margin-top: 1rem;
    }

    textarea.form-control[readonly] {
        cursor: default;
    }

    #toolsButton {
        font-size: #{sfont};
        padding: 2rem;
        height: auto;
    }

    @media (hover: hover) and (pointer: fine) {
        .btn.bttn:hover,
        #sortMethod:hover,
        #toolsButton:hover {
            color: black;
            border: 2px solid #{color};
            background-color: #{color};
        }
    }

    .bttn {
        background-color: black;
        color: #{color};
        font-size: #{sfont};
        border: 2px solid #{color};
        border-radius: 5px;
        text-align: center;
        box-sizing: border-box;
        transition: color 0.3s, border 0.3s, background-color 0.3s;
    }

    .list-button {
        margin-top: 1rem;
        margin-right: 1rem;
        height: 3rem;
    }

    .placeholder1::placeholder {
        color: #999;
    }

    /* Navbar */
    .nav-link,
    .navbar-brand,
    .dropdown-item {
        color: white;
        transition: color 0.3s;
    }

    .nav-link:focus,
    .nav-link:hover,
    .navbar-brand:hover {
        color: #{color};
        text-decoration: underline;
    }

    .navbar-nav:hover .nav-item.dropdown:hover .dropdown-menu {
        display: block;
    }

    .dropdown-item:hover {
        background-color: #{color};
        color: white;
        transition: background-color 0.3s;
    }

    .navbar-toggler-icon {
        background-image: url(data:image/svg+xml,%3csvg xmlns=`http://www.w3.org/2000/svg` viewBox=`0 0 30 30`%3e%3cpath stroke=`white` stroke-linecap=`round` stroke-miterlimit=`10` stroke-width=`1` d=`M4 7h22M4 15h22M4 23h22`/%3e%3c/svg%3e);
        -webkit-filter: brightness(400);
        filter: brightness(400);
    }

    nav {
        background-color: black;
        border-bottom: 2px solid #{color};
    }

    a.nav-link {
        padding-left: 1rem;
        font-size: #{lfont};
    }

    ul.navbar-nav {
        margin-left: auto;
        margin-right: 1rem;
    }

    .nav-item a.nav-link {
        padding-left: 1rem;
        font-size: #{lfont};
    }

    .dropdown-menu {
        right: 0;
        background-color: black;
    }

    .dropdown-item {
        padding-left: 1rem;
        font-size: #{lfont};
    }

    nav img {
        width: 2rem;
        height: 2rem;
        margin-right: 0.3vh;
        filter: invert(0);
    }

    nav img:hover {
    }


    /* Footer */
    footer.footer {
        background-color: black;
        display: none;
    }

    footer.footer div {
        border: 1px solid white;
        border-radius: 5px;
        padding: 1rem;
        display: inline-block;
    }

    footer.footer h1.text-light {
        font-size: #{sfont};
        vertical-align: middle;
        display: inline;
    }

    footer.footer button.bttn.btn-sm {
        margin-left: 1rem;
        height: calc(#{sfont} + 0.5rem);
        vertical-align: middle;
        padding: 0 #{sfont};
        line-height: #{sfont};
        color: black;
    }


    /* Portfolio */
    .portfolio-grid {
        display: flex;
        flex-wrap: wrap;
        margin-top: 7rem;
        gap: 2rem;
        margin-left: 1rem;
        margin-right: 1rem;
        justify-content: center;
    }

    .portfolio-item {
        width: 350px;
        border: 2px solid white;
        border-radius: 5px;
        overflow: hidden;
        text-align: center;
        background: black;
        transition: border 0.3s ease-in-out;
    }

    .portfolio-info h1 {
        font-size: #{lfont};
    }

    .portfolio-item a {
        display: block;
        text-decoration: none;
    }

    .portfolio-item:hover {
        border: 2px solid #{color};
    }

    .portfolio-item img {
        display: block;
        width: 100%;
        height: 10rem;
        transition: opacity 0.3s ease-in-out;
    }

    .portfolio-info {
        padding: 10px;
    }

    .portfolio-info p {
        font-size: #{sfont};
        color: white;
    }


//- <-- Delete this
    /* Snowflakes */
    .snowflake {
        background: white;
        border-radius: 50%;
        position: absolute;
        top: -10vh; 
        z-index: -1;
        animation: snowfall linear infinite;
        filter: blur(1px);
    }

    @keyframes snowfall {
        0% {
            transform: translate3d(var(--left-ini), 0, 0);
        }
        100% {
            transform: translate3d(var(--left-end), 110vh, 0);
        }
    }
//- <-- Delete this 
    then Shift+Tab this:
    - var currentTime = Date.now(); 
        
    each _, i in Array(100)
        - var size = Math.random() * (15 - 5) + 5;
        - var leftIni = Math.random() * 20 - 10;
        - var leftEnd = Math.random() * 20 - 10;
        - var animationDuration = 7.5 + Math.random() * 30;
        - var animationDelay = -Math.random() * 10;
        - var opacity = Math.random() * 0.5 + 0.5;

        div.snowflake(
            style=`--left-ini: ${leftIni}vw; 
            --left-end: ${leftEnd}vw; 
            width: ${size}px; 
            height: ${size}px; 
            opacity: ${opacity}; 
            left: ${Math.random() * 100}vw; 
            animation-duration: ${animationDuration}s; 
            animation-delay: ${animationDelay}s;`
        )