include /partials/variables.pug
doctype html
html(lang=`en`)
head
  title Tools | ikgron
  include /partials/head.pug
  include /partials/styles.pug
  

.bg
.vignette
.content
  include /partials/navbar.pug
  
            
  h1.text-light(style=`margin-top: 15vh; font-size: ${xlfont}; text-align: center;`) Tools

  .row
    .col(style=`text-align: center; margin-top: 2vh`)
      button.btn(type=`button` class=`bttn` style=`font-size: ${xlfont}; margin-top: 2vh;` onclick=`window.location.href= '/tools/list-sorter'`) List Sorter
      
      //- button.btn(type=`button` class=`btn` style=`font-size: ${xlfont}; margin-top: 2vh;` onclick=`window.location.href= '/tools/alphabetizer'`) Button 2

      //- button.btn(type=`button` class=`btn` style=`font-size: ${xlfont}; margin-top: 1vh;` onclick=`window.location.href= '/tools/alphabetizer'`) Button 3

  div(style=`border-bottom: 2px solid ${color}; margin-top: 15vh;`)


include /partials/scripts.pug


